In [1]:
# Improting Geo Json
from pymongo import MongoClient
import pandas as pd

client = MongoClient('mongodb://localhost:27017/')
db = client.GeoComps
a=db.GeoComps.find()
b=pd.DataFrame(a)
b["headquarters"].head()
#b["headquarters"]["coordinates"]
b.shape

(2939, 10)

In [2]:
b.drop(columns=['_id'], inplace=True)
b.head()

,age,category_code,country,founded_year,headquarters,lat,lng,name,number_of_employees
0,Old,web,USA,2006,"{'type': 'Point', 'coordinates': [-118.393064,...",34.090368,-118.393064,Geni,18
1,Old,web,USA,2005,"{'type': 'Point', 'coordinates': [-121.907768,...",37.697805,-121.907768,Jangl SMS,22
2,Old,web,USA,2005,"{'type': 'Point', 'coordinates': [-122.333253,...",47.603122,-122.333253,Wetpaint,47
3,Old,mobile,USA,2005,"{'type': 'Point', 'coordinates': [-122.173887,...",37.480999,-122.173887,Jingle Networks,35
4,Old,web,USA,2002,"{'type': 'Point', 'coordinates': [-73.995722, ...",40.726040,-73.995722,Meetup,75

In [16]:
radio=2000
geopoint=b["headquarters"][0]
geopoint

{'type': 'Point', 'coordinates': [-118.393064, 34.090368]}

In [17]:
def findNear(geopoint,radio):
     return list(db.GeoComps.find({
        "headquarters": {
         "$near": {
           "$geometry": geopoint,
           "$maxDistance": radio,
         }
       }
    }))
geopoint=b["headquarters"][0]
lst=findNear(geopoint,radio)
lst

[{'_id': ObjectId('5d2759fa6497a5d8bff314d3'),
  'name': 'Geni',
  'lat': 34.090368,
  'lng': -118.393064,
  'country': 'USA',
  'headquarters': {'type': 'Point', 'coordinates': [-118.393064, 34.090368]},
  'number_of_employees': 18,
  'category_code': 'web',
  'founded_year': 2006,
  'age': 'Old'},
 {'_id': ObjectId('5d2759fa6497a5d8bff31ba1'),
  'name': 'MyFreeImplants',
  'lat': 34.087825,
  'lng': -118.379493,
  'country': 'USA',
  'headquarters': {'type': 'Point', 'coordinates': [-118.379493, 34.087825]},
  'number_of_employees': 2,
  'category_code': 'network_hosting',
  'founded_year': 2005,
  'age': 'Old'},
 {'_id': ObjectId('5d2759fa6497a5d8bff31b66'),
  'name': 'Meteor Games',
  'lat': 34.09316,
  'lng': -118.378335,
  'country': 'USA',
  'headquarters': {'type': 'Point', 'coordinates': [-118.378335, 34.09316]},
  'number_of_employees': 70,
  'category_code': 'games_video',
  'founded_year': 2007,
  'age': 'Old'},
 {'_id': ObjectId('5d2759fa6497a5d8bff31d19'),
  'name': 'BookBump',
  'lat': 34.075162,
  'lng': -118.398632,
  'country': 'USA',
  'headquarters': {'type': 'Point', 'coordinates': [-118.398632, 34.075162]},
  'number_of_employees': 3,
  'category_code': 'web',
  'founded_year': 2006,
  'age': 'Old'},
 {'_id': ObjectId('5d2759fa6497a5d8bff31766'),
  'name': 'IdiotsTrafficSchool',
  'lat': 34.090373,
  'lng': -118.373868,
  'country': 'USA',
  'headquarters': {'type': 'Point', 'coordinates': [-118.373868, 34.090373]},
  'number_of_employees': 4,
  'category_code': 'web',
  'founded_year': 2006,
  'age': 'Old'}]

In [18]:
def sum_employees(lst):
    suma=0
    for i in lst:
        suma+= i["number_of_employees"]
    return suma

n=sum_employees(lst)
n

97

In [19]:
sum_column=[]
for i in range(len(b)):
    geopoint=b["headquarters"][i]
    lost=findNear(geopoint,radio)
    n=sum_employees(lost)
    sum_column.append(n)

In [20]:
b["Employees_Near"]=sum_column

In [21]:
b.head()

,age,category_code,country,founded_year,headquarters,lat,lng,name,number_of_employees,Employees_Near,New/Old_Ratio
0,Old,web,USA,2006,"{'type': 'Point', 'coordinates': [-118.393064,...",34.090368,-118.393064,Geni,18,97,0.000000
1,Old,web,USA,2005,"{'type': 'Point', 'coordinates': [-121.907768,...",37.697805,-121.907768,Jangl SMS,22,2183,0.000000
2,Old,web,USA,2005,"{'type': 'Point', 'coordinates': [-122.333253,...",47.603122,-122.333253,Wetpaint,47,869,0.461538
3,Old,mobile,USA,2005,"{'type': 'Point', 'coordinates': [-122.173887,...",37.480999,-122.173887,Jingle Networks,35,180,0.000000
4,Old,web,USA,2002,"{'type': 'Point', 'coordinates': [-73.995722, ...",40.726040,-73.995722,Meetup,75,2012,0.176471

In [22]:
def new_old(lst):
    old=0
    new=0
    for i in lst:
        if i["age"]=='Old':
            old+=1
        else:
            new+=1
     
    if old>0:
        ratio= new/old
        return ratio
    else:
        return 1.5

In [23]:
ratio_column=[]
for i in range(len(b)):
    geopoint=b["headquarters"][i]
    lost=list(findNear(geopoint,radio))
    n=new_old(lost)
    ratio_column.append(n)

In [24]:
b["New/Old_Ratio"]=ratio_column

In [25]:
b.head(300)

,age,category_code,country,founded_year,headquarters,lat,lng,name,number_of_employees,Employees_Near,New/Old_Ratio
0,Old,web,USA,2006,"{'type': 'Point', 'coordinates': [-118.393064,...",34.090368,-118.393064,Geni,18,97,0.000000
1,Old,web,USA,2005,"{'type': 'Point', 'coordinates': [-121.907768,...",37.697805,-121.907768,Jangl SMS,22,2183,0.000000
2,Old,web,USA,2005,"{'type': 'Point', 'coordinates': [-122.333253,...",47.603122,-122.333253,Wetpaint,47,869,0.272727
3,Old,mobile,USA,2005,"{'type': 'Point', 'coordinates': [-122.173887,...",37.480999,-122.173887,Jingle Networks,35,180,0.000000
4,Old,web,USA,2002,"{'type': 'Point', 'coordinates': [-73.995722, ...",40.726040,-73.995722,Meetup,75,2012,0.393939
5,Old,games_video,USA,2006,"{'type': 'Point', 'coordinates': [-118.254558,...",34.051409,-118.254558,Stickam,35,272,0.111111
6,Old,mobile,USA,2005,"{'type': 'Point', 'coordinates': [-122.0899512...",37.423390,-122.089951,Jajah,110,1234,0.090909
7,Old,games_video,USA,2007,"{'type': 'Point', 'coordinates': [-74.3372, 40...",40.801358,-74.337200,AdaptiveBlue,15,15,0.000000
8,Old,web,USA,1995,"{'type': 'Point', 'coordinates': [-121.930035,...",37.295005,-121.930035,eBay,15000,15578,0.000000
9,Old,games_video,USA,2007,"{'type': 'Point', 'coordinates': [-122.07948, ...",37.392936,-122.079480,Ustream,250,2065,0.166667
10,Old,games_video,USA,2007,"{'type': 'Point', 'coordinates': [-73.995625, ...",40.726155,-73.995625,Livestream,120,2012,0.393939
11,Old,games_video,USA,2004,"{'type': 'Point', 'coordinates': [-73.99873, 4...",40.722655,-73.998730,Pando Networks,23,1399,0.275862
12,Old,web,USA,2003,"{'type': 'Point', 'coordinates': [-73.563878, ...",41.049051,-73.563878,Ikan,5,5,0.000000
13,Old,web,USA,2002,"{'type': 'Point', 'coordinates': [-122.055197,...",37.387845,-122.055197,Plaxo,50,2046,0.111111
14,Old,software,USA,2005,"{'type': 'Point', 'coordinates': [-121.904945,...",37.692934,-121.904945,Zoho,1600,2183,0.000000
15,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-119.306607,...",37.269175,-119.306607,SodaHead,25,107,0.750000
16,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-118.487267,...",34.017606,-118.487267,Mahalo,40,1197,1.166667
17,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-119.306607,...",37.269175,-119.306607,CriticalMetrics,4,107,0.750000
18,Old,mobile,FIN,2006,"{'type': 'Point', 'coordinates': [24.93105, 60...",60.163770,24.931050,Jaiku,8,140,0.200000
19,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-121.940749,...",37.380101,-121.940749,Spotplex,3,1448,0.142857
20,Old,web,USA,1994,"{'type': 'Point', 'coordinates': [-122.025485,...",37.418531,-122.025485,Yahoo!,13600,14760,0.000000
21,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-122.397224,...",37.762541,-122.397224,Pownce,6,1021,0.407407
22,Old,web,USA,2005,"{'type': 'Point', 'coordinates': [-118.756618,...",34.155211,-118.756618,ClipBlast!,15,37,0.500000
23,Old,web,GBR,2006,"{'type': 'Point', 'coordinates': [-1.3610845, ...",50.944460,-1.361085,Zamzar,2,2,0.000000
24,Old,web,USA,2003,"{'type': 'Point', 'coordinates': [-122.221717,...",37.476479,-122.221717,Coghead,21,1074,0.000000
25,Old,web,NLD,2007,"{'type': 'Point', 'coordinates': [4.8948623, 5...",52.374523,4.894862,Wakoopa,8,101,0.857143
26,Old,mobile,USA,2006,"{'type': 'Point', 'coordinates': [-121.932202,...",37.465645,-121.932202,GrandCentral,3,63,0.000000
27,Old,web,USA,1999,"{'type': 'Point', 'coordinates': [-121.977853,...",37.374998,-121.977853,SideStep,75,1213,0.083333
28,Old,games_video,USA,2005,"{'type': 'Point', 'coordinates': [-122.206893,...",37.484619,-122.206893,RockYou,106,909,0.000000
29,Old,web,USA,2006,"{'type': 'Point', 'coordinates': [-122.414689,...",37.758113,-122.414689,Pageflakes,20,1110,0.620690
...,...,...,...,...,...,...,...,...,...,...,...
270,Old,web,FRA,2007,"{'type': 'Point', 'coordinates': [1.434685, 43...",43.604071,1.434685,Web2Wave,3,3,0.000000
271,Old,web,USA,2002,"{'type': 'Point', 'coordinates': [-83.324521, ...",33.908860,-83.324521,Maugans Corp,4,4,0.000000
272,Old,web,USA,1996,"{'type': 'Point', 'coordinates': [-122.154837,...",47.581810,-122.154837,Expedia,4400,4841,0.333333
273,Old,web,USA,2000,"{'type': 'Point', 'coordinates': [-94.671644, ...",38.890550,-94.671644,iModules Software,67,117,0.000000
274,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-71.44698, 4...",42.710437,-71.446980,LimeAll,2,252,0.000000
275,Old,web,USA,2004,"{'type': 'Point', 'coordinates': [-79.420926, ...",38.003376,-79.420926,HonestMall,30,50,0.000000
276,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-157.837351,...",21.338849,-157.837351,FutonMedia,2,2,0.000000
277,Old,web,USA,2002,"{'type': 'Point', 'coordinates': [-80.241433, ...",36.095060,-80.241433,VerticalCurve,5,5,0.000000
278,Old,web,USA,2006,"{'type': 'Point', 'coordinates': [-77.3479238,...",38.953039,-77.347924,VisualCV,5,234,0.000000
279,Old,web,CAN,2007,"{'type': 'Point', 'coordinates': [-122.96391, ...",50.123306,-122.963910,ZiFiMusic,1,3,1.000000
280,Old,software,ESP,2003,"{'type': 'Point', 'coordinates': [2.163697, 41...",41.383182,2.163697,]project-open[,3,119,0.200000
281,New,web,USA,2008,"{'type': 'Point', 'coordinates': [-122.187925,...",47.704875,-122.187925,PokerPlayersSocialNetwork,3,3,1.500000
282,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-75.162644, ...",39.952229,-75.162644,myfirstpaycheck,4,45,1.000000
283,Old,web,CAN,2006,"{'type': 'Point', 'coordinates': [-123.095238,...",49.285173,-123.095238,memelabs,10,543,0.272727
284,Old,web,USA,2006,"{'type': 'Point', 'coordinates': [-122.3308, 4...",47.606400,-122.330800,PopShops,3,869,0.272727
285,Old,web,USA,2004,"{'type': 'Point', 'coordinates': [-122.113773,...",37.377624,-122.113773,SimpleFeed,22,22,0.000000
286,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-118.289065,...",34.128046,-118.289065,MetaNotes,4,4,0.000000
287,New,web,AUS,2008,"{'type': 'Point', 'coordinates': [151.039775, ...",-34.054416,151.039775,thatsmymouse,3,3,1.500000
288,Old,web,USA,2003,"{'type': 'Point', 'coordinates': [-119.855405,...",34.431454,-119.855405,Citrix Online,700,700,0.000000
289,Old,web,USA,2003,"{'type': 'Point', 'coordinates': [-121.878844,...",37.349317,-121.878844,MerchantOS,2,248,0.000000
290,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-122.334393,...",47.599136,-122.334393,Mergelab,3,861,0.285714
291,Old,web,USA,2003,"{'type': 'Point', 'coordinates': [-122.349863,...",47.650674,-122.349863,Survey Analytics,100,509,0.125000
292,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-122.278487,...",37.773545,-122.278487,TripnTale,3,23,1.000000
293,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-121.965784,...",37.312676,-121.965784,Aductions,5,165,0.200000
294,Old,web,USA,2004,"{'type': 'Point', 'coordinates': [-122.323408,...",47.615313,-122.323408,eNotes,11,943,0.296296
295,Old,web,USA,1995,"{'type': 'Point', 'coordinates': [-122.46649, ...",37.762512,-122.466490,Craigslist,25,25,0.000000
296,Old,web,USA,2003,"{'type': 'Point', 'coordinates': [-77.447612, ...",39.006988,-77.447612,Weblogs,23,23,0.000000
297,Old,software,IND,2003,"{'type': 'Point', 'coordinates': [77.628576, 1...",12.933644,77.628576,Vaakya Technologies,40,115,0.000000
298,New,games_video,QAT,2008,"{'type': 'Point', 'coordinates': [51.5082, 25....",25.294800,51.508200,Triptuber,2,2,1.500000
299,Old,web,USA,2006,"{'type': 'Point', 'coordinates': [-122.120938,...",47.680496,-122.120938,TalentSpring,9,25,0.666667

TypeError: count() takes exactly one argument (0 given)