In [184]:
# Improting Geo Json
from pymongo import MongoClient
import pandas as pd
import requests
import os
from dotenv import load_dotenv
load_dotenv()

client = MongoClient('mongodb://localhost:27017/')
db = client.GeoComps
a=db.GeoComps.find()
b=pd.DataFrame(a)
b["headquarters"].head()
#b["headquarters"]["coordinates"]
b.shape

(2939, 10)

In [185]:
b.drop(columns=['_id'], inplace=True)
b.head()

,age,category_code,country,founded_year,headquarters,lat,lng,name,number_of_employees
0,Old,web,USA,2006,"{'type': 'Point', 'coordinates': [-118.393064,...",34.090368,-118.393064,Geni,18
1,Old,web,USA,2005,"{'type': 'Point', 'coordinates': [-121.907768,...",37.697805,-121.907768,Jangl SMS,22
2,Old,web,USA,2005,"{'type': 'Point', 'coordinates': [-122.333253,...",47.603122,-122.333253,Wetpaint,47
3,Old,mobile,USA,2005,"{'type': 'Point', 'coordinates': [-122.173887,...",37.480999,-122.173887,Jingle Networks,35
4,Old,web,USA,2002,"{'type': 'Point', 'coordinates': [-73.995722, ...",40.726040,-73.995722,Meetup,75

In [186]:
radio=2000
geopoint=b["headquarters"][0]
geopoint

{'type': 'Point', 'coordinates': [-118.393064, 34.090368]}

In [187]:
def findNear(geopoint,radio):
     return list(db.GeoComps.find({
        "headquarters": {
         "$near": {
           "$geometry": geopoint,
           "$maxDistance": radio,
         }
       }
    }))
geopoint=b["headquarters"][0]
lst=findNear(geopoint,radio)
lst

[{'_id': ObjectId('5d2759fa6497a5d8bff314d3'),
  'name': 'Geni',
  'lat': 34.090368,
  'lng': -118.393064,
  'country': 'USA',
  'headquarters': {'type': 'Point', 'coordinates': [-118.393064, 34.090368]},
  'number_of_employees': 18,
  'category_code': 'web',
  'founded_year': 2006,
  'age': 'Old'},
 {'_id': ObjectId('5d2759fa6497a5d8bff31ba1'),
  'name': 'MyFreeImplants',
  'lat': 34.087825,
  'lng': -118.379493,
  'country': 'USA',
  'headquarters': {'type': 'Point', 'coordinates': [-118.379493, 34.087825]},
  'number_of_employees': 2,
  'category_code': 'network_hosting',
  'founded_year': 2005,
  'age': 'Old'},
 {'_id': ObjectId('5d2759fa6497a5d8bff31b66'),
  'name': 'Meteor Games',
  'lat': 34.09316,
  'lng': -118.378335,
  'country': 'USA',
  'headquarters': {'type': 'Point', 'coordinates': [-118.378335, 34.09316]},
  'number_of_employees': 70,
  'category_code': 'games_video',
  'founded_year': 2007,
  'age': 'Old'},
 {'_id': ObjectId('5d2759fa6497a5d8bff31d19'),
  'name': 'BookBump',
  'lat': 34.075162,
  'lng': -118.398632,
  'country': 'USA',
  'headquarters': {'type': 'Point', 'coordinates': [-118.398632, 34.075162]},
  'number_of_employees': 3,
  'category_code': 'web',
  'founded_year': 2006,
  'age': 'Old'},
 {'_id': ObjectId('5d2759fa6497a5d8bff31766'),
  'name': 'IdiotsTrafficSchool',
  'lat': 34.090373,
  'lng': -118.373868,
  'country': 'USA',
  'headquarters': {'type': 'Point', 'coordinates': [-118.373868, 34.090373]},
  'number_of_employees': 4,
  'category_code': 'web',
  'founded_year': 2006,
  'age': 'Old'}]

In [188]:
def sum_employees(lst):
    suma=0
    for i in lst:
        suma+= i["number_of_employees"]
    return suma

n=sum_employees(lst)
n

97

In [189]:
sum_column=[]
for i in range(len(b)):
    geopoint=b["headquarters"][i]
    lost=findNear(geopoint,radio)
    n=sum_employees(lost)
    sum_column.append(n)

In [190]:
b["Employees_Near"]=sum_column

In [191]:
b.head()

,age,category_code,country,founded_year,headquarters,lat,lng,name,number_of_employees,Employees_Near
0,Old,web,USA,2006,"{'type': 'Point', 'coordinates': [-118.393064,...",34.090368,-118.393064,Geni,18,97
1,Old,web,USA,2005,"{'type': 'Point', 'coordinates': [-121.907768,...",37.697805,-121.907768,Jangl SMS,22,2183
2,Old,web,USA,2005,"{'type': 'Point', 'coordinates': [-122.333253,...",47.603122,-122.333253,Wetpaint,47,869
3,Old,mobile,USA,2005,"{'type': 'Point', 'coordinates': [-122.173887,...",37.480999,-122.173887,Jingle Networks,35,180
4,Old,web,USA,2002,"{'type': 'Point', 'coordinates': [-73.995722, ...",40.726040,-73.995722,Meetup,75,2012

In [192]:
def new_old(lst):
    old=0
    new=0
    for i in lst:
        if i["age"]=='Old':
            old+=1
        else:
            new+=1
     
    if old>0:
        ratio= new/old
        return ratio
    else:
        return 1.5

In [193]:
ratio_column=[]
for i in range(len(b)):
    geopoint=b["headquarters"][i]
    lost=list(findNear(geopoint,radio))
    n=new_old(lost)
    ratio_column.append(n)

In [194]:
b["New/Old_Ratio"]=ratio_column

In [195]:
b.head(10)

,age,category_code,country,founded_year,headquarters,lat,lng,name,number_of_employees,Employees_Near,New/Old_Ratio
0,Old,web,USA,2006,"{'type': 'Point', 'coordinates': [-118.393064,...",34.090368,-118.393064,Geni,18,97,0.000000
1,Old,web,USA,2005,"{'type': 'Point', 'coordinates': [-121.907768,...",37.697805,-121.907768,Jangl SMS,22,2183,0.000000
2,Old,web,USA,2005,"{'type': 'Point', 'coordinates': [-122.333253,...",47.603122,-122.333253,Wetpaint,47,869,0.272727
3,Old,mobile,USA,2005,"{'type': 'Point', 'coordinates': [-122.173887,...",37.480999,-122.173887,Jingle Networks,35,180,0.000000
4,Old,web,USA,2002,"{'type': 'Point', 'coordinates': [-73.995722, ...",40.726040,-73.995722,Meetup,75,2012,0.393939
5,Old,games_video,USA,2006,"{'type': 'Point', 'coordinates': [-118.254558,...",34.051409,-118.254558,Stickam,35,272,0.111111
6,Old,mobile,USA,2005,"{'type': 'Point', 'coordinates': [-122.0899512...",37.423390,-122.089951,Jajah,110,1234,0.090909
7,Old,games_video,USA,2007,"{'type': 'Point', 'coordinates': [-74.3372, 40...",40.801358,-74.337200,AdaptiveBlue,15,15,0.000000
8,Old,web,USA,1995,"{'type': 'Point', 'coordinates': [-121.930035,...",37.295005,-121.930035,eBay,15000,15578,0.000000
9,Old,games_video,USA,2007,"{'type': 'Point', 'coordinates': [-122.07948, ...",37.392936,-122.079480,Ustream,250,2065,0.166667

In [196]:
b1=b[b['New/Old_Ratio'] != 0]
b1.head()

,age,category_code,country,founded_year,headquarters,lat,lng,name,number_of_employees,Employees_Near,New/Old_Ratio
2,Old,web,USA,2005,"{'type': 'Point', 'coordinates': [-122.333253,...",47.603122,-122.333253,Wetpaint,47,869,0.272727
4,Old,web,USA,2002,"{'type': 'Point', 'coordinates': [-73.995722, ...",40.726040,-73.995722,Meetup,75,2012,0.393939
5,Old,games_video,USA,2006,"{'type': 'Point', 'coordinates': [-118.254558,...",34.051409,-118.254558,Stickam,35,272,0.111111
6,Old,mobile,USA,2005,"{'type': 'Point', 'coordinates': [-122.0899512...",37.423390,-122.089951,Jajah,110,1234,0.090909
9,Old,games_video,USA,2007,"{'type': 'Point', 'coordinates': [-122.07948, ...",37.392936,-122.079480,Ustream,250,2065,0.166667

In [197]:
print(b1.shape)

(1685, 11)

In [198]:
b1['country'].value_counts().head()

USA    1124
GBR     115
CAN      88
FRA      55
DEU      50
Name: country, dtype: int64

In [199]:
b1=b1[b1['country'] == 'USA']
print(b1.shape)
b1.head()
b1.describe()

(1124, 11)

,founded_year,lat,lng,number_of_employees,Employees_Near,New/Old_Ratio
count,1124.000000,1124.000000,1124.000000,1124.000000,1124.000000,1124.000000
mean,2005.914591,38.477503,-102.759413,180.303381,3002.714413,0.684808
std,3.413842,4.481410,23.540114,3084.747416,10281.233931,0.538107
min,1990.000000,17.415429,-159.480262,1.000000,1.000000,0.047619
25%,2005.000000,37.320643,-122.265594,3.000000,41.000000,0.319444
50%,2007.000000,37.783662,-118.330006,9.000000,501.500000,0.428571
75%,2008.000000,40.747071,-77.231374,30.000000,2039.250000,1.000000
max,2013.000000,61.216583,78.434422,99999.000000,100961.000000,4.000000

In [200]:
new_old_upper=b1['New/Old_Ratio'].quantile(0.75)
print(new_old_upper)
# FIRST I keep TOP 50% of the New Old Ratio and then the TOP 50% of the Employees Near

1.0

In [201]:
b2=b1[b1['New/Old_Ratio'] >= new_old_upper]
b2.shape
b2.head(10)

,age,category_code,country,founded_year,headquarters,lat,lng,name,number_of_employees,Employees_Near,New/Old_Ratio
16,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-118.487267,...",34.017606,-118.487267,Mahalo,40,1197,1.166667
40,Old,network_hosting,USA,2005,"{'type': 'Point', 'coordinates': [-122.143701,...",37.425801,-122.143701,Box,950,1041,1.000000
66,Old,web,USA,2006,"{'type': 'Point', 'coordinates': [-105.276843,...",40.010492,-105.276843,IntenseDebate,4,46,1.000000
89,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-105.276843,...",40.010492,-105.276843,Filtrbox,14,46,1.000000
100,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-118.495025,...",34.018275,-118.495025,Docstoc,40,279,1.750000
106,New,games_video,USA,2008,"{'type': 'Point', 'coordinates': [-122.151158,...",47.597965,-122.151158,YouBeQB,8,4408,1.000000
122,New,mobile,USA,2010,"{'type': 'Point', 'coordinates': [-111.9035, 3...",33.817100,-111.903500,GENWI,25,25,1.500000
136,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-121.983814,...",37.222604,-121.983814,Houseglue,5,27,1.000000
178,Old,games_video,USA,2005,"{'type': 'Point', 'coordinates': [-83.734673, ...",42.292649,-83.734673,Zattoo,45,79,3.000000
191,Old,games_video,USA,2007,"{'type': 'Point', 'coordinates': [-118.468672,...",34.064139,-118.468672,GotCast,5,28,1.000000

In [202]:
employee_median=b2['Employees_Near'].median()
print(employee_median)
b2=b2[b2['Employees_Near'] >= employee_median]
print(b2.shape)
b2.head()

13.0
(173, 11)

,age,category_code,country,founded_year,headquarters,lat,lng,name,number_of_employees,Employees_Near,New/Old_Ratio
16,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-118.487267,...",34.017606,-118.487267,Mahalo,40,1197,1.166667
40,Old,network_hosting,USA,2005,"{'type': 'Point', 'coordinates': [-122.143701,...",37.425801,-122.143701,Box,950,1041,1.000000
66,Old,web,USA,2006,"{'type': 'Point', 'coordinates': [-105.276843,...",40.010492,-105.276843,IntenseDebate,4,46,1.000000
89,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-105.276843,...",40.010492,-105.276843,Filtrbox,14,46,1.000000
100,Old,web,USA,2007,"{'type': 'Point', 'coordinates': [-118.495025,...",34.018275,-118.495025,Docstoc,40,279,1.750000

In [203]:
# With 287 companies left, I export the results to tableau to filter deeper in a map and adding API data. 
b2.to_csv('geo_clean.csv')

In [204]:
#in san francisco 37.7749° N, 122.4194° W
key=os.environ['API_Token']
geocode_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=37.4419,-122.1430&radius=49900&keyword=Starbucks&key={}".format(key)
res = requests.get(geocode_url)
results = res.json()
results

{'html_attributions': [],
 'next_page_token': 'CqQCIAEAAL_Il3VopzCAj6G_W6pX9En0qhia_rb1hwnytTq3h700MJ6OcV6QBfGliXCVYQr0pU286qJbotrX6v9i_NV12mFIb4-YkUlQZFW7q2w_rc_QiGifRQz9Yk4KcmcjHisjEeZp2z_GgoOjT3N7Fx4D6C5f-beVkqO82ngFCxLm8Yv227Rq5QaN9hiNZDSfA28teK6gcMh3miXANlkzoWb_aHKKk3jiq24_lmu7d4cMWUm7YcUiF4tO3-naSIVQSdx9HQD5QQuciB9wEJmB9uFpEE2g7VUjJr-VOzycIn9NleJYIWdYyEYtG7DFjuvbPB7VZe4rmXmIcyMqWDJg0Esk9942KPSa-6DA5Hwu2KtiBdK-OgY0PdRIC_CpYnoNLj9HvRIQqwUWkK1Ipti9oWkH_nGuVxoUvy8meuCkAtKZiBE_9lHaYR5FjAk',
 'results': [{'geometry': {'location': {'lat': 37.427381, 'lng': -122.149213},
    'viewport': {'northeast': {'lat': 37.42872647989272,
      'lng': -122.1478205701073},
     'southwest': {'lat': 37.42602682010727, 'lng': -122.1505202298927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': 'dc76f5716b8fd67e7d76ec1115728a7a8e04f82f',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110627053977800080922/photos">simon lechot</a>'],
     'photo_reference': 'CmRaAAAAV6f_4DJftZfN4a4Ua5L5lZkOr6rfc4fW-kLng5ZgFi6CWP5dKyLugPgLfGVjeaqmwvqhtoqZtNcX5qsemU37DFe1tpDVJT84tFj671brnoYMuospQn15agR8TvDsy4abEhCKZR53m_YUlnjZL3pHh9irGhQOG0piJkWaHZnCeBT6zIXg11BmZg',
     'width': 3024}],
   'place_id': 'ChIJsUowmuW6j4ARncdA5qucqUk',
   'plus_code': {'compound_code': 'CVG2+X8 Palo Alto, California, USA',
    'global_code': '849VCVG2+X8'},
   'price_level': 2,
   'rating': 3.9,
   'reference': 'ChIJsUowmuW6j4ARncdA5qucqUk',
   'scope': 'GOOGLE',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 299,
   'vicinity': '2000 El Camino Real, Palo Alto'},
  {'geometry': {'location': {'lat': 37.426867, 'lng': -122.144091},
    'viewport': {'northeast': {'lat': 37.42825412989272,
      'lng': -122.1428284201073},
     'southwest': {'lat': 37.42555447010727, 'lng': -122.1455280798927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '93606c439ca5804040ba07d8d4c162566a052c27',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 289,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/114056203097317877718/photos">Starbucks</a>'],
     'photo_reference': 'CmRaAAAAZIQpkkWSzG95bchf_BrmvwGIln3d-nG9ANYB7YvD4427IiMXtLUsNzTSDQilLDjG4xVNwPdHNc-eQAwY3ihJ8-MCRbCGkdVngrgtAUEyQK0AYwk8rYZyAN8I9ZsYvK3xEhB46TleAuy7-YHT58uf4zUqGhTF0fUZT0JuLWz54TLGIviy-Dtacw',
     'width': 512}],
   'place_id': 'ChIJsUowmuW6j4ARQq7ht0-RXP8',
   'plus_code': {'compound_code': 'CVG4+P9 Palo Alto, California, USA',
    'global_code': '849VCVG4+P9'},
   'price_level': 2,
   'rating': 4,
   'reference': 'ChIJsUowmuW6j4ARQq7ht0-RXP8',
   'scope': 'GOOGLE',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 265,
   'vicinity': '361 California Ave, Palo Alto'},
  {'geometry': {'location': {'lat': 37.741198, 'lng': -122.38783},
    'viewport': {'northeast': {'lat': 37.74256422989271,
      'lng': -122.3865175701073},
     'southwest': {'lat': 37.73986457010727, 'lng': -122.3892172298927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': 'a07421a19acf17d9067440b855813d09ab9727dd',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1920,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106558152602038657759/photos">Asif Shah</a>'],
     'photo_reference': 'CmRaAAAAtfjYG6iizh2gAQcG1YL_hR79yTukA4N9Ac2b8TGzTkr39tfIGv9kRYsmECTbhVn8VjFYCIzA1RMABozzGt6m5yOglIUXCRLzq9zpk2XkS2GM_xjnVUpLK5FZvj35SXMfEhAd-3kByd3_-020lpAgljddGhQS8smyv6bgI08y0RJRfHfBCZFuBA',
     'width': 1080}],
   'place_id': 'ChIJZSP3VAh_j4ARXErDV9SiILM',
   'plus_code': {'compound_code': 'PJR6+FV Bayview, San Francisco, CA, USA',
    'global_code': '849VPJR6+FV'},
   'price_level': 2,
   'rating': 3.8,
   'reference': 'ChIJZSP3VAh_j4ARXErDV9SiILM',
   'scope': 'GOOGLE',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 258,
   'vicinity': '3801 3rd St #112, San Francisco'},
  {'geometry': {'location': {'lat': 37.447958, 'lng': -122.126258},
    'viewport': {'northeast': {'lat': 37.44922002989272,
      'lng': -122.1248221201073},
     'southwest': {'lat': 37.44652037010728, 'lng': -122.1275217798927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': 'a67a299856adeccc7696a2ecd846d3605d2d9f7b',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109665942099333580315/photos">andy hsu</a>'],
     'photo_reference': 'CmRaAAAAisq_1C9vvvvKugy9MvdG1WKNBTAZTsF-D5IVn0Rs32s9iazVWPHIe4yt3vjyftMkT3m1C36sZCgQOZMX9VJJbp6AZjrVV5MSBdNJwjZxKzKOtQoB_ihnIx6qrrk4_iZyEhAj5o3E-MDV4u0r9JIgtynDGhSdOYe_sy0SIIw0qMk-lS1Ofh-I4g',
     'width': 3024}],
   'place_id': 'ChIJpWutqqm7j4ARNnvOAeRP-5U',
   'plus_code': {'compound_code': 'CVXF+5F Palo Alto, California, USA',
    'global_code': '849VCVXF+5F'},
   'price_level': 2,
   'rating': 4.1,
   'reference': 'ChIJpWutqqm7j4ARNnvOAeRP-5U',
   'scope': 'GOOGLE',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 233,
   'vicinity': '2190 W Bayshore Rd Ste. 180, Palo Alto'},
  {'geometry': {'location': {'lat': 37.446791, 'lng': -122.160561},
    'viewport': {'northeast': {'lat': 37.44816977989272,
      'lng': -122.1592721201073},
     'southwest': {'lat': 37.44547012010728, 'lng': -122.1619717798928}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': 'f9684a5bbb5338e374a555fbb2683b8cbc0c372c',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104609939326496492903/photos">Mustafa GOKDOGAN</a>'],
     'photo_reference': 'CmRaAAAAVmt6kBEc9ytqyhIGOLUQd6jcJlwvlayCLjG6wX0lx36Oz3O5xlEeuFvGzizBU_5uTSAh19wzobZbAauzI0m2vSq2I1R130MzsPrdSYsbxVolsu1TZ9bocWTjg9WSgQwZEhAYXy96wVgYmJq9G8wgMPgzGhTNKtud1UtaO-iLmkF4z-Yl1TT67A',
     'width': 3024}],
   'place_id': 'ChIJg5JmqDm7j4ARxxy2NX7uuIQ',
   'plus_code': {'compound_code': 'CRWQ+PQ Palo Alto, California, USA',
    'global_code': '849VCRWQ+PQ'},
   'price_level': 2,
   'rating': 4.1,
   'reference': 'ChIJg5JmqDm7j4ARxxy2NX7uuIQ',
   'scope': 'GOOGLE',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 424,
   'vicinity': '376 University Ave, Palo Alto'},
  {'geometry': {'location': {'lat': 37.30212, 'lng': -121.864321},
    'viewport': {'northeast': {'lat': 37.30350212989271,
      'lng': -121.8630655201073},
     'southwest': {'lat': 37.30080247010727, 'lng': -121.8657651798927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '145e4b024305e4ac3a41ff2871d7e17e8eab9074',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116916289784120302285/photos">A Google User</a>'],
     'photo_reference': 'CmRaAAAAlc4bNbv9ZQNS6EeJCMHjHRXd_07AJ0a7-REbvLvnPhiOsvdt27w7bns-YrCXfCYhwEm1CXZerv5Xb7c0Jm7jnMW-8DqVUyMTt1SkZMlPHhWGqSPqE0OzfmZiSKpYBKMIEhAirpI5FskAAbD-v2LxkaV1GhTBt5PGlFZedsN7nRkRCpawsggAsg',
     'width': 1500}],
   'place_id': 'ChIJUQQXkxszjoAR7z1wDSb59o4',
   'plus_code': {'compound_code': '842P+R7 San Jose, California, USA',
    'global_code': '849W842P+R7'},
   'price_level': 2,
   'rating': 4.2,
   'reference': 'ChIJUQQXkxszjoAR7z1wDSb59o4',
   'scope': 'GOOGLE',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 183,
   'vicinity': '175 Curtner Ave, San Jose'},
  {'geometry': {'location': {'lat': 37.37096289999999, 'lng': -121.9171986},
    'viewport': {'northeast': {'lat': 37.37232192989272,
      'lng': -121.9158407201073},
     'southwest': {'lat': 37.36962227010727, 'lng': -121.9185403798927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '8ca3951b27832cb37f4b49202772ef050d81cd1a',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111095263212279416216/photos">Sandhip Chandrasekar</a>'],
     'photo_reference': 'CmRaAAAAhNXfGeveS-Zh2P0bv36Nf7iMbSaE7Csj_4id6z5h-B-ir3vjnGapIJcl0D3mJ_6ZLSvzkADFs23Dy-jinTmJIFAPZBZYReRz2Nj22wwR2g70aBRS_1jHB6JBMM_3_o90EhBZb_urz4twbXss_ZqXeGIJGhQ0uKemNqG_hnZtVYmqD--ndb2uTg',
     'width': 3024}],
   'place_id': 'ChIJo5y56-zLj4ARQx1UUSCnyes',
   'plus_code': {'compound_code': '93CM+94 San Jose, California, USA',
    'global_code': '849W93CM+94'},
   'price_level': 2,
   'rating': 4.1,
   'reference': 'ChIJo5y56-zLj4ARQx1UUSCnyes',
   'scope': 'GOOGLE',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 308,
   'vicinity': '1751 N 1st St, San Jose'},
  {'geometry': {'location': {'lat': 37.7629128, 'lng': -122.4104227},
    'viewport': {'northeast': {'lat': 37.76432197989271,
      'lng': -122.4090791701073},
     'southwest': {'lat': 37.76162232010727, 'lng': -122.4117788298927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': 'a51e0f886906f949bcd2ad1c9e43127f3bc3018f',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1600,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105121010669309800299/photos">Me Cook</a>'],
     'photo_reference': 'CmRaAAAAM_YQtQsLH_D6ai_eZ_-R88o219g7wP4B7p1kOev-BsdC_3_NpBkvzJBao-WXhvXKFMKIeZUvNOLrFkDWJbs02vDSfKJoL40b5RejW9YDvZ7p-1P3LeDozP4_K89ckvQ9EhCWMr209UMeTOysDuQR_iIRGhQjcY0jRutyep7oBd_vmbpMktCEHA',
     'width': 1200}],
   'place_id': 'ChIJ47mI-DB-j4ARMbqXOPT13vk',
   'plus_code': {'compound_code': 'QH7Q+5R Mission District, San Francisco, CA, USA',
    'global_code': '849VQH7Q+5R'},
   'price_level': 2,
   'rating': 4.2,
   'reference': 'ChIJ47mI-DB-j4ARMbqXOPT13vk',
   'scope': 'GOOGLE',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 371,
   'vicinity': '2727 Mariposa St, San Francisco'},
  {'geometry': {'location': {'lat': 37.794632, 'lng': -122.402728},
    'viewport': {'northeast': {'lat': 37.79602947989272,
      'lng': -122.4013867701073},
     'southwest': {'lat': 37.79332982010727, 'lng': -122.4040864298927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '9bd4761d095fd6ca50decf577b4c23e80991a705',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2560,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101350231916294184946/photos">A Google User</a>'],
     'photo_reference': 'CmRaAAAAfsWag0mrSLMvcvCC3AIrKlVWGiKEHxkLqYbxsGbBHOUpR94RrvM8sj5yukH7dX7iURoAtqXI43rsClmdU5xxKjKKdjIKg4PXS8yZnDnj0UIn7cnC0oo8d6FEEthN8UvVEhDGGtdxBwqVC21exwbhqyzxGhTxWGNAGw2a9g3XL3QCPC7jfq3R1w',
     'width': 1440}],
   'place_id': 'ChIJdS_ykoqAhYAR7D9v8GCMGyI',
   'plus_code': {'compound_code': 'QHVW+VW Financial District, San Francisco, CA, USA',
    'global_code': '849VQHVW+VW'},
   'price_level': 2,
   'rating': 4,
   'reference': 'ChIJdS_ykoqAhYAR7D9v8GCMGyI',
   'scope': 'GOOGLE',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 270,
   'vicinity': '565 Clay St, San Francisco'},
  {'geometry': {'location': {'lat': 37.779498, 'lng': -122.275648},
    'viewport': {'northeast': {'lat': 37.78084162989273,
      'lng': -122.2743655701073},
     'southwest': {'lat': 37.77814197010728, 'lng': -122.2770652298927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': 'eef22393914e9483f90ae77f3cb14ce1d86d10d6',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 664,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101820654668546643108/photos">Starbucks</a>'],
     'photo_reference': 'CmRaAAAAUph-0mGVm_-XMPVJajBFInS5788IyltzsBukc_qIs5ieb2wzfn0F-pgK8jDOr82sSbS6RUX1UJWiw-YEtgdKp0uUyI_mH8iihYcWR2ic25y3fkERMkN2J0bcI4xlKWz9EhBGOK2YnLVO6buAuMKFTs8wGhSpXmA7wAAY9FwsHt9BKtPTLtbuBQ',
     'width': 732}],
   'place_id': 'ChIJlTOzlteAj4ARxVtmpHX7FRc',
   'plus_code': {'compound_code': 'QPHF+QP Alameda, California, USA',
    'global_code': '849VQPHF+QP'},
   'price_level': 2,
   'rating': 3.7,
   'reference': 'ChIJlTOzlteAj4ARxVtmpHX7FRc',
   'scope': 'GOOGLE',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 244,
   'vicinity': '720 Atlantic Ave, Alameda'},
  {'geometry': {'location': {'lat': 37.751341, 'lng': -122.431709},
    'viewport': {'northeast': {'lat': 37.75274492989271,
      'lng': -122.4303520201073},
     'southwest': {'lat': 37.75004527010727, 'lng': -122.4330516798927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': 'c59c16a4e9e047be31219e6c8d348564b4a03bb4',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4160,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112282511882386414887/photos">Илья Блинников</a>'],
     'photo_reference': 'CmRaAAAAfGOFmw0arR0yvwrX2PBBE72AedeN9p2Scpxehy5gXPNw7FvxddgJfZ9O3QysUTBE2no3M4NzrgPQ7_pn88fz8u0KoNKZiQVL-b73mK3k0KwWrmoM26HknWsWFBSYlY4DEhCGM8zdgo3ZeCVjVy9SJ_qDGhTSWTH80By6WmiHzQICYgKixp5wQQ',
     'width': 3120}],
   'place_id': 'ChIJj3orDxN-j4ARlytjvdmSwKU',
   'plus_code': {'compound_code': 'QH29+G8 Noe Valley, San Francisco, CA, USA',
    'global_code': '849VQH29+G8'},
   'price_level': 2,
   'rating': 4.2,
   'reference': 'ChIJj3orDxN-j4ARlytjvdmSwKU',
   'scope': 'GOOGLE',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 220,
   'vicinity': '3995 24th St, San Francisco'},
  {'geometry': {'location': {'lat': 37.320964, 'lng': -121.949113},
    'viewport': {'northeast': {'lat': 37.32228462989272,
      'lng': -121.9475971701073},
     'southwest': {'lat': 37.31958497010728, 'lng': -121.9502968298927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '59a07b626c434ef5ce4932d1a8ac437fc23093cc',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4128,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116762375669080478719/photos">عبدالله بركات</a>'],
     'photo_reference': 'CmRaAAAAr2phgGPIqvrVYT_RXFe39M1VfzpWIazfMfKSTpEV3gxBWyHBpzvtfTl_XUolevxJz2l91Ao-TR_B5nVbv6xDpTObzlfdH2s8kjhkWT9Asu263DuZNFS7jn0rGgcCwIHxEhCLUJyO-GizOWKXZ13XjkCFGhSqpfJ6t3fy1P7PgJBgTzJfMySOgA',
     'width': 2322}],
   'place_id': 'ChIJa49n29_Kj4ARubVJk9TZQRg',
   'plus_code': {'compound_code': '83C2+99 San Jose, California, USA',
    'global_code': '849W83C2+99'},
   'price_level': 2,
   'rating': 3.7,
   'reference': 'ChIJa49n29_Kj4ARubVJk9TZQRg',
   'scope': 'GOOGLE',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 195,
   'vicinity': '3055 Olin Ave #1025, San Jose'},
  {'geometry': {'location': {'lat': 37.7861458, 'lng': -122.4090937},
    'viewport': {'northeast': {'lat': 37.78753807989272,
      'lng': -122.4078526201073},
     'southwest': {'lat': 37.78483842010727, 'lng': -122.4105522798927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '8aa5aeffd7a35ec2fd1b854f80ee603c6b6fa400',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 800,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112691937071511793790/photos">小塩裕一</a>'],
     'photo_reference': 'CmRaAAAA5_v-WI59HjzSWTjUCA8EOi1mNZsRwbuSATPH_0Z09PyeHQcmb_Hh7MoHxODw03w9BQ41S_e2wDoWDTVNEwbNzZJNs0-ebcqjMx-DYmx8wFY8yrYYoqNpZVGFmdENUrmREhA56JuVHUA61xVYwIRZ83NfGhQWBEIRKioFJXfuBr7aBbgX41WqSg',
     'width': 600}],
   'place_id': 'ChIJo5d3RH2AhYARbVGMuItjQrU',
   'plus_code': {'compound_code': 'QHPR+F9 Tenderloin, San Francisco, CA, USA',
    'global_code': '849VQHPR+F9'},
   'price_level': 2,
   'rating': 3.8,
   'reference': 'ChIJo5d3RH2AhYARbVGMuItjQrU',
   'scope': 'GOOGLE',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 239,
   'vicinity': '222 Mason St, San Francisco'},
  {'geometry': {'location': {'lat': 37.806565, 'lng': -122.420425},
    'viewport': {'northeast': {'lat': 37.80796987989272,
      'lng': -122.4190850701073},
     'southwest': {'lat': 37.80527022010728, 'lng': -122.4217847298927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': 'ca6f7503c0281c46ed709880acae0b4d2dc432e5',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4032,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107000517626261995383/photos">Lukas Schmalzer</a>'],
     'photo_reference': 'CmRaAAAAY4q8ohWQyfPdAoWHDfza2Zqya0PJPi9A0DMkwOyU7X_R7HrA3OJPyVfdBIuXaCwiWIybsvp9X83hhziLrO7xyKSRRjE7Rs6rjQUHmv2X5e499iVOSUaffI3OGIJueVsxEhC05WsdmscySEXLaDi2rqLgGhSXr-bko2laVG4D4MQf8NPNDXZWiA',
     'width': 3024}],
   'place_id': 'ChIJdWhPEOGAhYARHNvv_2M7DgI',
   'plus_code': {'compound_code': "RH4H+JR Fisherman's Wharf, San Francisco, CA, USA",
    'global_code': '849VRH4H+JR'},
   'price_level': 2,
   'rating': 4.2,
   'reference': 'ChIJdWhPEOGAhYARHNvv_2M7DgI',
   'scope': 'GOOGLE',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 648,
   'vicinity': '685 Beach St, San Francisco'},
  {'geometry': {'location': {'lat': 37.786261, 'lng': -122.453194},
    'viewport': {'northeast': {'lat': 37.78753862989272,
      'lng': -122.4518188701072},
     'southwest': {'lat': 37.78483897010727, 'lng': -122.4545185298927}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '913b3f1febc842fd5afaf3664d0610946d19b9e1',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 4000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105792167060337884177/photos">Emily Rivas</a>'],
     'photo_reference': 'CmRaAAAAh7OOotZtN_iV8q79uzU2QlgZ4irkcNl_9W9zGdmH-iiP8jWQZrThG3wm15-V0zgszClcw8foN3Ia1CJnOUKXGD5qYTLZxQEOVW9sFlQxNlYyCTXogaaWkf9_c2I-qp3dEhCyTpcoNymSxhxPvxZAX8_DGhRAJN1_LZxoldl6VZ2uWFUZa6Hd1A',
     'width': 2992}],
   'place_id': 'ChIJgfaHTzGHhYARpAaPEsn2pV8',
   'plus_code': {'compound_code': 'QGPW+GP Laurel Heights, San Francisco, CA, USA',
    'global_code': '849VQGPW+GP'},
   'price_level': 2,
   'rating': 4.1,
   'reference': 'ChIJgfaHTzGHhYARpAaPEsn2pV8',
   'scope': 'GOOGLE',
   'types': ['cafe', 'food', 'store', 'point_of_interest', 'establishment'],
   'user_ratings_total': 646,
   'vicinity': '3595 California St, San Francisco'},
  {'geometry': {'location': {'lat': 37.797644, 'lng': -122.430395},
    'viewport': {'northeast': {'lat': 37.79904572989272,
      'lng': -122.4290486201073},
     'southwest': {'lat': 37.79634607010728, 'lng': -122.4317482798928}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
   'id': '4c3c38e83567805648febf35023e9bd2ed42803a',
   'name': 'Starbucks',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 1536,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107602328530544278868/photos">Raymond Hamilton</a>'],
     'photo_reference': 'CmRaAAAAmIVFXuN6Ib2tEl_qk9sSzMrQ0HZxr6EM973NKoxQZ6EJok-DlKki-OVrkkOKC31PYYxm1oyPjpjR-Bn2ThVeEzDiobQRvt6nMrncR8t3sFbvwcEy4f_vvS4BnENf3gUgEhD1mUMVPXVJftFkivJtImJdGhQK8sF0bFAcuF0nEKGDNybaYS4iUw',
     'width': 2048}],

In [205]:
results.to_json('starbucks.json', orient='records')

AttributeError: 'dict' object has no attribute 'to_json'